
.container{
    text-align: center;
    font-family: Roboto;
    margin: 0% 20%;
}
.display{
    display: grid;
    gap: 10px;
    font-family: Roboto;

}
.submit-button{
    background-color: #2A3990;
    color: white;
    border-radius: 5px;
}
.delete-button{
    background-color: #9C254D;
    color: white;
    border-radius: 5px;
    height: 25px;
    width: 80px;
}

tr:hover{
    outline: 1px solid #999;
}
.myform{
    margin: 2% 0%;
}
.book-image{
    margin: -5% 0%;
}